@media (max-width: 767px) {
    .block.specifications,.block.information{
        margin: 0 auto;
    }
    .visible-xs{
        display: inline-block!important;
    }
    .block.contact{
        bottom: -200px;
        width: 100%;
        right: 0;
        border-radius: 0;
    }
    .block.contact.active{
        bottom: 0;
        height: 100%;
        background: #000000f2;
        padding-top: 50px;
    }
    .footer{
        margin-bottom: 30px;
    }
    .block.contact.active .close-list-btn{
        float: right;
        display: block;
        background: transparent;
        border: none;
        color: #7d95bd;
        font-size: 30px;
        position: absolute;
        top: -6px;
        right: 6px;
    }

}
@media (max-width: 480px){
    .navigation .logo{
        max-width: 30px;
        margin-top: 10px;
    }
    .navigation .header{
        font-size: 17px;
        margin-top: 15px;
    }
    .specifications .header .title{
        font-size: 17px;
    }
    .block.specifications .description{
        font-size: 12px;
    }
    .block.specifications .description .mindes{
        font-size: 10px;
    }
    .information a{
        font-size: 14px;
    }
    .footer .logo{
        width: 120px;
    }
    .copyright{
        font-size: 10px;
    }
    #file, #prices{
        font-size: 17px;
    }
    #file{
        margin-top: 30px;
    }
    .specifications .refe{
        font-size: 15px;
    }
    .block.cover{
        padding-bottom: 0;
    }
    .specifications .video{
        height: 200px;
    }
}